[submodule "third_party/nanogui"]
	path = third_party/nanogui
	url = https://github.com/mitsuba-renderer/nanogui/
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/PDF-Writer"]
	path = third_party/PDF-Writer
	url = https://github.com/galkahana/PDF-Writer.git
[submodule "third_party/dkm"]
	path = third_party/dkm
	url = https://github.com/genbattle/dkm.git
